{{ attach_library('favrskov/footer') }}
<footer class="footer">
  {% block footer_top %}
    <div class="footer__top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 footer__feedback-wrapper">
            <h2 class="footer__feedback_label">
              {{ atom('feedback.text') }}
            </h2>
            <div class="footer__feedback_actions">
              <a href="" class="footer__feedback--action_link js-footer__feedback--action_link footer__feedback--thumbs_up" data-feedback="yes" data-nodeid="{{node.id}}" aria-label="Syntes godt om knap">{% include '@particles/svg-icon/svg-icon.twig' with { 'attributes': '', 'svgIconName': 'thumbs-up' } %}</a>
              <a href="" class="footer__feedback--action_link js-footer__feedback--action_link footer__feedback--thumbs_down" data-feedback="no" data-nodeid="{{node.id}}"  aria-label="Syntes ikke godt om knap">{% include '@particles/svg-icon/svg-icon.twig' with { 'attributes': '', 'svgIconName': 'thumbs-up' } %}</a>
              <div class="footer__feedback-form js-footer__feedback-form">
                <form></form>
                <div class="footer__feedback-form--arrow"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
  <div class="footer__background">
    <img src="/{{ directory }}/build-assets/dist/images/favrskov-kommune-footer.svg" alt="Favrskov Kommune" />
  </div>
  <div{{ (not attributes ? create_attribute() : attributes).addClass(['footer__inner', 'theme-primary']) }}>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-ms-10 col-ms-offset-1 col-sm-4 col-sm-offset-0">
          <div class="footer__logo">
            <a title="Hjem" rel="home" href="/">
              <img class="logo__image" src="/{{ directory }}/build-assets/dist/images/logo-neg.svg" alt="Favrskov" />
            </a>
          </div>
        </div>
        {% if cols|length > 0 %}
          {% for col in cols %}
            <div class="col-xs-12 col-ms-5 col-sm-4{{ loop.index == 1 ? ' col-ms-offset-1 col-sm-offset-0' }}">
              {% if col.headline %}
                <h3 class="footer__headline">{{ col.headline }}</h3>
              {% endif %}
              <div class="footer__content">
                {{ col.content }}
                {% if loop.length == loop.index %}
                  <p><a href="#" class="footer__print-link" onClick="window.print()">
                      {% include '@particles/svg-icon/svg-icon.twig' with {
                        'attributes': '',
                        'svgIconName': 'print-neg'
                      } %}
                      <span>{{ 'Print page'|t }}</span>
                    </a></p>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</footer>
