{{ attach_library('favrskov/accordion') }}

<div{{ (not attributes ? create_attribute() : attributes).addClass(['accordion', 'js-accordion']) }}>
  {% block block_content %}{% endblock %}
  <h2 class="accordion__headline">{{ headline }}</h2>
  <div class="accordion__items">
    {% block content %}
      {% set counter = 0 %}
      {% for item in items %}
        {% set counter = counter + 1 %}
        <accordion-item title="{{ item.headline }}" id="{{ item.id }}" {{ counter > 5 ? ':hidden="!showAllHiddenItems"' }}>
          {{ item.text }}
        </accordion-item>
      {% endfor %}
      {% set items_count = items|length %}
    {% endblock %}
  </div>
  {% if items_count > 5 and show_more_text %}
    <div v-show="!showAllHiddenItems">
      <br>
      {% include '@particles/button/button.twig' with {
      'attributes': create_attribute().addClass('button--center').addClass('js-accordion-show-more').setAttribute('@click.prevent', 'displayHiddenItems'),
      'text': show_more_text,
      } %}
    </div>
  {% endif %}
</div>
