{{ attach_library('favrskov/hearing-page') }}

<div{{ (not attributes ? create_attribute() : attributes).addClass('hearing-page') }}>
  <section class="section section--spacing-top-small section--spacing-bottom-medium">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-5 col-md-offset-2 hearing_page__title">
          {% if title %}
            <div class="hearing-page__title cludo-info__title">
              <h1>{{ title }}</h1>
            </div>
          {% endif %}
        </div>
        <div class="col-xs-12 col-md-5 col-md-offset-2 hearing-page__content">
          <div class="hearing-page__summary cludo-info__summary">
            {{ summary }}
          </div>
          <div class="hearing-page__content cludo-info__body">
            {{ body }}
          </div>
          {% if cta %}
            <div class="hearing-page__cta cludo-info__cta">
              {{ cta }}
            </div>
          {% endif %}
          <div class="hearing-page__back-link js-hidden">
            {% include '@particles/svg-icon/svg-icon.twig' with {
              'attributes': '',
              'svgIconName': 'arrow-left'
            } %}
            <a href="#">{{ 'Back to list'|t }}</a>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 col-md-offset-1 hearing-page__box">
          <div class="hearing-page__type cludo-info__type">
            {{ type }}
          </div>
          <div class="hearing-page__dates">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <label>{{ 'Publishing date'|t }}:</label>
                <span class="cludo-info__pubdate">
                  {{ pubdate }}
                </span>
              </div>
              {% if hide_deadline == false %}
              <div class="col-xs-12 col-md-6">
                <label>{{ deadline_label }}:</label>
                <span class="cludo-info__deadline">
                  {{ deadline }}
                </span>
              </div>
              {% endif %}
            </div>
          </div>
          <div class="hearing-page__info">
            <div class="hearing-page__info--item"><label>{{ 'Place'|t }}:</label><span class="cludo-info__place">{{ place }}</span></div>
            <div class="hearing-page__info--item"><label>{{ 'Topic'|t }}:</label><span class="cludo-info__topic">{{ topic }}</span></div>
          </div>
          {% if extra|render %}
            <div class="hearing-page__extra">
              {{ extra }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</div>
