{% set hero_position = {
  'center': 'col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2',
  'right': 'col-xs-10 col-md-8 col-xs-offset-2 col-md-offset-4',
  'left': 'col-xs-10 col-md-8'
} %}

{{ attach_library('favrskov/hero') }}

<div{{ (not attributes ? create_attribute() : attributes).addClass(['hero', 'js-hero']).addClass(media_image ? 'hero--image-added').addClass(not media_image and not is_front_page_header ? 'hero--narrow-height').addClass(is_front_page_header ? 'hero--is-front-pageheader').addClass(show_search == 1 ? 'hero--search') }}>
  {% if show_search == 1 %}
    <div class="hero__tree-search">
      {% include '@particles/svg-icon/svg-icon.twig' with {
        'attributes': '',
        'svgIconName': 'tree'
      } %}
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-md-8 col-lg-6 col-xs-offset-1 col-md-offset-2 col-lg-offset-3">
          <div{{ (not content_attributes ? create_attribute() : content_attributes).addClass('hero__content') }}>
            <form id="cludo-search-form" role="search" class="hero__search">
              <input type="search" class="hero__search--text" id="js-search-input" placeholder="Hvad kan vi hjælpe med?" aria-label="Search" aria-describedby="autocomplete_hint">
              <button type="submit" class="hero__search--submit" id="search-button">
                {% block content %}
                  {% include '@particles/svg-icon/svg-icon.twig' with {
                    'attributes': '',
                    'svgIconName': 'search'
                  } %}
                {% endblock %}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    {% if media_image %}
      <div class="hero__image-wrapper">
        {{ media_image }}
      </div>
    {% else %}
      {% include '@particles/svg-icon/svg-icon.twig' with {
        'attributes': '',
        'svgIconName': 'tree'
      } %}
    {% endif %}
    {% if media %}
      <div class="hero__iframe-wrapper js-hero-iframe-wrapper">
        {{ media }}
      </div>
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="{{ hero_position[position] }}">
          <div{{ (not content_attributes ? create_attribute() : content_attributes).addClass('hero__content') }}>
            {% if text %}
              {{ text }}
            {% endif %}
            {% if cta.url and cta.title %}
              {% include '@particles/button/button--link.twig' with {
                'url': cta.url,
                'text': cta.title,
                'attributes': create_attribute().setAttribute('target', cta.target)
              } %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
