{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, next_level_attributes, 0, directory) }}
{% macro menu_links(items, attributes, next_level_attributes, menu_level, directory) %}
  {% import _self as menus %}
  {% if items %}
    {% if attributes.region == 'burgermenu' %}
      {% if menu_level == 0 %}
        <ul{{ attributes.addClass('burger-menu-list--primary') }}>
      {% elseif menu_level == 1 %}
          <ul{{ next_level_attributes.addClass('burger-menu-list--secondary').removeClass('burger-menu-list--tertiary') }}>
      {% elseif menu_level == 2 %}
        <ul{{ next_level_attributes.addClass('burger-menu-list--tertiary').removeClass('burger-menu-list--secondary') }}>
      {% endif %}
    {% else %}
      {% if menu_level == 0 %}
        <ul{{ attributes }}>
      {% else %}
        <ul{{ next_level_attributes }}>
      {% endif %}
    {% endif %}
    {% for item in items %}
      {% if menu_level == 1 and item.below %}
        <li{{ item.attributes.addClass('burger-menu-list-item--expandable','js-burger-menu-list-item--expandable') }}>
      {% else %}
        {% if item.url and attributes.region == 'burgermenu' %}
          <li{{ item.attributes.addClass('burger-menu-list-item') }}>
        {% else %}
          <li{{ item.attributes }}>
        {% endif %}
      {% endif %}
        {% if item.url and attributes.region == 'burgermenu' %}
          <a href="{{ item.url }}" class="burger-menu-list-item__link">{{ item.title }}</a>
        {% elseif item.url %}
          <a href="{{ item.url }}">{{ item.title }}</a>
        {% else %}
          {{ item.title }}
        {% endif %}
        {% if item.below %}
          {% if menu_level == 1 and attributes.region == 'burgermenu' %}
            <a href="#" class="burger-menu-list-item__expand-trigger" {{ create_attribute().setAttribute('@click', 'triggerSubNavigation($event)') }} aria-label="Udvid" aria-expanded="false" aria-controls="js-menu-list">
              <span class="burger-menu-list-item__expand-trigger-line1"></span>
              <span class="burger-menu-list-item__expand-trigger-line2"></span> 
            </a>
          {% endif %}
          {{ menus.menu_links(item.below, attributes, next_level_attributes, menu_level + 1, directory) }}
        {% endif %}
      </li>
    {% endfor %}
  {% endif %}
  {% if menu_level == 0 %}
    </ul>
  {% else %}
    </ul>
  {% endif %}
{% endmacro %}
