{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% set classes = [
  'layout',
  'layout--onecol',
  settings.color_theme ? 'theme ' ~ settings.color_theme,
  'section',
  'section--spacing-top-' ~ settings.column_spacing_top,
  'section--spacing-bottom-' ~ settings.column_spacing_bottom
] %}

{% if settings.color_theme %}
  {{ attach_library('favrskov/' ~ settings.color_theme) }}
{% endif %}

{% set clean_id = settings.section_id|clean_id %}
{% if clean_id %}
  <a id="{{ clean_id }}" class="anchor-tag"></a>
{% endif %}

<section {{ attributes.addClass(classes) }}>
  {% if settings.column_width == 'fullwidth' %}
    {% if header and header is not empty %}
    <div class="layout-builder__section--header">
      {{ header }}
    </div>
    {% endif %}
    <div {{ region_attributes.content.addClass(['layout__region', 'layout__region--first']) }}>
      {{ content.content }}
    </div>
  {% elseif settings.column_width == 'narrow' %}
    <div class="container">
      {% if header and header is not empty %}
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 layout-builder__section--header">
          {{ header }}
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div {{ region_attributes.content.addClass(['col-xs-12', 'col-md-8', 'col-md-offset-2', 'layout-builder__region', 'js-layout-builder-region', 'layout__region', 'layout__region--first']) }}>
          {{ content.content }}
        </div>
      </div>
    </div>
  {% else %}
    {% if header and header is not empty %}
    <div class="container layout-builder__section--header">
      {{ header }}
    </div>
    {% endif %}
    <div {{ region_attributes.content.addClass(['container', 'layout__region', 'layout__region--first']) }}>
      {{ content.content }}
    </div>
  {% endif %}
</section>
