<div class="parcels js-parcels">
    <parcel-group title="Available parcels" items-count="12" show-text="Se flere ledige byggegrunde" hide-text="Se færre ledige byggegrunde">
        <div class="col-xs-12 col-md-6 col-lg-4">
            {{ render '@parcel' }}
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            {{ render '@parcel' }}
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            {{ render '@parcel' }}
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            {{ render '@parcel' }}
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            {{ render '@parcel' }}
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            {{ render '@parcel' }}
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            {{ render '@parcel' }}
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            {{ render '@parcel' }}
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            {{ render '@parcel' }}
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            {{ render '@parcel' }}
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            {{ render '@parcel' }}
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            {{ render '@parcel' }}
        </div>
    </parcel-group>
    <parcel-group title="Reserved parcels" items-count="4" show-text="Se flere ledige byggegrunde" hide-text="Se færre ledige byggegrunde">
        <div class="col-xs-12 col-md-6 col-lg-4">
            {{ render '@parcel' }}
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            {{ render '@parcel' }}
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            {{ render '@parcel' }}
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            {{ render '@parcel' }}
        </div>
    </parcel-group>
    <parcel-group title="Sold parcels" items-count="3" show-text="Se flere ledige byggegrunde" hide-text="Se færre ledige byggegrunde">
        <div class="col-xs-12 col-md-6 col-lg-4">
            {{ render '@parcel' }}
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            {{ render '@parcel' }}
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            {{ render '@parcel' }}
        </div>
    </parcel-group>
</div>
