{{ attach_library('favrskov/video') }}

<div{{ (not attributes ? create_attribute() : attributes).addClass('video').addClass('js-video').addClass(inverted ? 'video--inverted') }}>
  {% block block_content %}{% endblock %}
  <div class="video__iframe-wrapper js-video-iframe-wrapper">{{ media }}</div>
  {{ media_image }}
  <div role='button' aria-label='Afspil video' class="video__play-icon js-video-play-icon">
    {% include '@particles/svg-icon/svg-icon.twig' with {
      'attributes': '',
      'svgIconName': 'play'
    } %}
  </div>
  <div class="video__content">
    <div class="video__title">{{ title[0]['#context']['value']}}</div>
    <div class="video__subtitle">{{ subtitle }}</div>
  </div>
</div>
