{{ attach_library('favrskov/burger-menu') }}

<nav :class="{ 'burger-menu--open': isOpen }" class="burger-menu" id="js-burger-menu">
  <div @click="closeBurgerMenu()" class="burger-menu__close">
    <div class="burger-menu__close-label">{{ 'Close (Esc)'|t }}</div>
    {% include '@particles/svg-icon/svg-icon.twig' with {
      'attributes': '',
      'svgIconName': 'close'
    } %}
  </div>
  <div class="container">
    <div class="burger-menu__inner">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-6">
          {% block navigation %}
            {% if navigation %}
              <div class="burger-menu-list__label">{{ navigation.title }}</div>
              <ul class="burger-menu-list">
                {% for item in navigation.items %}
                  <li class="burger-menu-list-item js-burger-menu-list-item">
                    <a href="{{ item.url }}" class="burger-menu-list-item__link">
                      {{ item.title }}
                      {% if item.below %}
                        {% include '@particles/svg-icon/svg-icon.twig' with {
                          'attributes': create_attribute().setAttribute('@click', 'triggerSubNavigation($event)'),
                          'svgIconName': 'arrow-line-down'
                        } %}
                      {% endif %}
                    </a>
                    {% if item.below %}
                      <ul class="burger-menu-list burger-menu-list--secondary">
                        <div class="burger-menu-list__label">{{ item.below.title }}</div>
                        {% for sub_item in navigation.items %}
                          <li class="burger-menu-list-item">
                            <a href="{{ sub_item.url }}" class="burger-menu-list-item__link">{{ sub_item.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endblock %}
        </div>
        <div class="col-xs-12 col-md-4">
          {% block meta_menu %}
            {% if meta_menu %}
              <div class="burger-menu-list__label">{{ meta_menu.title }}</div>
              <ul class="burger-menu-list burger-menu-list--highlighted">
                {% for item in meta_menu.items %}
                  <li class="burger-menu-list-item">
                    <a href="{{ item.url }}" class="burger-menu-list-item__link">
                      {{ item.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</nav>
