{{ attach_library('favrskov/burger-menu') }}

<nav :class="{ 'burger-menu--open': isOpen }" class="burger-menu" id="js-burger-menu">
  <div @click="closeBurgerMenu()" class="burger-menu__close">
    <div class="burger-menu__close-label">{{ 'Close (Esc)'|t }}</div>
    {% include '@particles/svg-icon/svg-icon.twig' with {
      'attributes': '',
      'svgIconName': 'close'
    } %}
  </div>
  <div class="container">
    <div class="burger-menu__inner">
      <div class="row">
          {% block navigation %}
            {% if navigation %}
              {% for item in navigation.items %}
                <div class="col-xs-12 col-md-8 col-lg-6 col-lg-offset-2">
                  <h3>{{ item.title }}</h3>
                  {% if item.below %}
                    <ul class="burger-menu-list">
                      <div class="burger-menu-list__label">{{ item.below.title }}</div>
                      {% for sub_item in navigation.items %}
                        <li class="burger-menu-list-item js-burger-menu-list-item">
                          <a href="{{ sub_item.url }}" class="burger-menu-list-item__link">{{ sub_item.title }}</a>
                          {% if sub_item.below %}
                            <ul class="burger-menu-list burger-menu-list--secondary">
                              <div class="burger-menu-list__label">{{ sub_item.below.title }}</div>
                              {% for second_sub_item in sub_item.items %}
                                <li class="burger-menu-list-item">
                                  <a href="{{ second_sub_item.url }}" class="burger-menu-list-item__link">{{ second_sub_item.title }}</a>
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              {% endfor %}
            {% endif %}
          {% endblock %}
      </div>
    </div>
  </div>
</nav>
