{{ attach_library('favrskov/news-page') }}

<div{{ (not attributes ? create_attribute() : attributes).addClass('news-page') }}>
  <section class="section section--spacing-top-small section--spacing-bottom-medium">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          {% if title %}
            <div class="news-page__title">
              <h1>{{ title }}</h1>
            </div>
          {% endif %}
          {% if display_publishing_date == 1 %}
            <div class="news-page__publishing-date">
              {{ pubdate }}
            </div>
          {% endif %}
          {% if media %}
            <div class="news-page__media">
              {{ media }}
            </div>
          {% endif %}

          {% if body %}
            <div class="news-page__content">
              {{ body }}
            </div>
          {% endif %}
          {% if back_link %}
            <div class="news-page__back-link">
              {% include '@particles/svg-icon/svg-icon.twig' with {
                'attributes': '',
                'svgIconName': 'arrow-left'
              } %}
              <div class="news-page__back-link">
                {{ back_link }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</div>
