{% set vat_indikator = (type == 'bolig' ? 'incl. VAT' : 'excl. VAT') %}
{% set vat_string = vat_indikator|t({}, {'context': 'ftf_parcelling'}) %}
{% set not_upcoming = (status != 'upcoming' ? true : false) %}

<div class="parcel">
  <div class="parcel__header">
    <div class="parcel__address">{{ address }}</div>
    <div class="parcel__status parcel__status--{{ status }}">{{ status|capitalize|t({}, {'context': 'ftf_parcelling'}) }}</div>
  </div>
  {% if group %}
    <div class="parcel__group">{{ group }}</div>
  {% endif %}
  <div class="parcel__information">
    <div class="parcel__line">
      <div class="parcel__line-label">{{ 'Size'|t({}, {'context': 'ftf_parcelling'}) }}</div>
      <div class="parcel__line-value">{{ area|number_format(0, ',', '.') }} m&sup2;</div>
    </div>
    {% if not_upcoming %}
      {% if min_price %}
        <div class="parcel__line">
          <div class="parcel__line-label">{{ 'Minimum price'|t({}, {'context': 'ftf_parcelling'}) }} ({{ vat_string }})</div>
          <div class="parcel__line-value">{{ min_price|number_format(0, ',', '.') }} kr.</div>
        </div>
      {% endif %}
      {% if price %}
        <div class="parcel__line">
          <div class="parcel__line-label">{{ 'Asking price'|t({}, {'context': 'ftf_parcelling'}) }} ({{ vat_string }})</div>
          <div class="parcel__line-value">{{ price|number_format(0, ',', '.') }} kr.</div>
        </div>
      {% endif %}
      {% if sqm_price %}
        <div class="parcel__line">
          <div class="parcel__line-label">{{ 'Square meter price'|t({}, {'context': 'ftf_parcelling'}) }} ({{ vat_string }})</div>
          <div class="parcel__line-value">{{ sqm_price|number_format(0, ',', '.') }} kr.</div>
        </div>
      {% endif %}
    {% endif %}
  </div>
  {% if specs %}
    <div class="parcel__documents {{ parcel_banner_text ? 'parcel__documents--max-width' }}">
      {% include '@favrskov/components/molecules/m-link-list.html.twig' with {
        'links': [specs]
      } %}
    </div>
  {% endif %}
  {% if parcel_banner_text %}
    <div class="parcel__banner">
      <div class="parcel__banner-inner" style="background-color:#{{ parcel_banner_color }}; color:#{{ parcel_banner_text_color }}">
        {{ parcel_banner_text }}
      </div>
    </div>
  {% endif %}
</div>
