{{ attach_library('favrskov/inline-navigation-item') }}

<li {{ (not attributes ? create_attribute() : attributes|without('role')).addClass('inline-navigation-item','inline-navigation-item-image') }}>
  <a href="{{ url }}" class="inline-navigation-item__link">
    <figure{{ create_attribute().addClass('inline-navigation-item__image').addClass(media is empty ? 'inline-navigation-item__image--fallback') }}>
      {% if media is not empty %}
        {{ media }}
      {% else %}
        {% include '@particles/svg-icon/svg-icon.twig' with {
          'attributes': '',
          'svgIconName': 'no-image'
        } %}
      {% endif %}
    </figure>
    <h2 class="inline-navigation-item__title">{{ label }}</h2>
    {% if teaser %}
      <div class="inline-navigation-item__text">{{ teaser }}</div>
    {% endif %}
    <div class="inline-navigation-item__read-more">{{ 'Read more'|t }}</div>
  </a>
</li>
