{{ attach_library('favrskov/inline-navigation-item') }}

<li {{ (not attributes ? create_attribute() : attributes|without('role')).addClass('inline-navigation-item','inline-navigation-item-campaign') }}>
  <a href="{{ url }}" class="inline-navigation-item__link">
    <h2 class="inline-navigation-item__title">{{ label }}</h2>
    {% if teaser %}
      <div class="inline-navigation-item__text">
        {{ teaser }}
      </div>
    {% endif %}
    <div class="inline-navigation-item__read-more">
      <div class="inline-navigation-item__arrow">
        <span></span>
        <span></span>
      </div>
      <label>{{ 'Read more'|t }}</label>
    </div>
  </a>
</li>
